In [205]:
import pandas as pd
import numpy as np

In [206]:
dane = pd.read_excel('dane.xls')
dane

     koordynator    status          manago
0      Ola Sarna  zrobione    Gosia Korpik
1    Alek Jesioł  oczekuje  Bartosz Karpik
2   Sonia Korpik  oczekuje    Gosia Korpik
3   Sonia Korpik  zrobione    Gosia Korpik
4    Alek Jesioł  oczekuje  Bartosz Karpik
5    Alek Jesioł  zrobione  Bartosz Karpik
6    Alek Jesioł  zrobione  Bartosz Karpik
7   Sonia Korpik  oczekuje    Gosia Korpik
8   Sonia Korpik  zrobione    Gosia Korpik
9   Sonia Korpik  zrobione    Gosia Korpik
10     Ola Sarna  zrobione    Gosia Korpik
11     Ola Sarna  zrobione    Gosia Korpik
12     Ola Sarna  oczekuje    Gosia Korpik
13     Ola Sarna  oczekuje    Gosia Korpik
14     Ola Sarna  oczekuje    Gosia Korpik
15     Ola Sarna  zrobione    Gosia Korpik
16     Ola Sarna  oczekuje    Gosia Korpik
17   Alek Jesioł  oczekuje  Bartosz Karpik
18  Sonia Korpik  oczekuje    Gosia Korpik
19     Ola Sarna  zrobione    Gosia Korpik
20     Ola Sarna  zrobione    Gosia Korpik
21     Ola Sarna  zrobione    Gosia Korpik
22     Ola Sarna  zrobione    Gosia Korpik
23     Ola Sarna  zrobione    Gosia Korpik
24  Sonia Korpik  oczekuje    Gosia Korpik
25  Sonia Korpik  oczekuje    Gosia Korpik
26  Sonia Korpik  oczekuje    Gosia Korpik
27  Sonia Korpik  oczekuje    Gosia Korpik

## Tamplate

In [175]:
table = pd.pivot_table(dane, values='status', index='koordynator',
                    columns=['status'], aggfunc='count')


table['procent%'] = table['zrobione'] / table['oczekuje'] * 100
table.to_excel('raport.xlsx')
table

status        oczekuje  zrobione    procent%
koordynator
Alek Jesioł          3         2   66.666667
Ola Sarna            4         9  225.000000
Sonia Korpik         7         3   42.857143

## Dla konkretnego menadzera

In [207]:
def generowanie_raportow(dane):
    
    lista_menadzerow = dane.manago.unique() #lista unikalnych menadzerów
    
    for x in range(len(lista_menadzerow)):

        manadzer = dane[dane.manago == lista_menadzerow[x]] 

        table = pd.pivot_table(manadzer, values='status', index='koordynator',
                        columns=['status'], aggfunc='count')
        
        table['procent%'] = table['zrobione'] / table['oczekuje'] * 100 #kolumna z procentami
        
        table.to_excel(lista_menadzerow[x] +'.xlsx') #zapis

        
generowanie_raportow(dane)